* {
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  background-color: #ccc;
}

input {
  display: block;
  margin: 2em;
  width: 50%;
}

.jogo {
  background-color: blue;
  height: 50vh;
  width: 100%;
  position: relative;
}

.timberman {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  position: absolute;
  top: 0;
  left: 0;
}

#bloco1:focus:valid ~ .jogo .timberman, #bloco2:focus:invalid ~ .jogo .timberman {
  right: calc(100% - 100px);
}

#bloco1:focus:invalid ~ .jogo .timberman, #bloco2:focus:valid ~ .jogo .timberman {
  left: calc(100% - 100px);
}