* {
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  height: 100%;
  background-color: #ccc;
}

form {
  width: 50%;
  background-color: black;
  position: relative;
  padding: 2em;
  height: 100vh;
}

input {
  display: block;
  width: 50%;
}

.jogo {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 100%;
}

.chao {
  background: url('chao.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 103px;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 100vh;
  z-index: 3;
}

.timberman {
  width: 200px;
  height: 200px;
  background: url('timberman-esquerda.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 100px;
  left: 0;
  z-index: 4;
}

@-webkit-keyframes timberman-esquerda {
  0%, 50% {
    background: url('timberman-esquerda-baixo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  51%, 100% {
    background: url('timberman-esquerda.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@-webkit-keyframes timberman-direita {
  0%,50% {
    background: url('timberman-direita-baixo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  51%,100% {
    background: url('timberman-direita.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

#bloco1:focus ~ .jogo .timberman {
  -webkit-animation-name: timberman-esquerda;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
}

.esquerda:invalid + .mata:focus ~ .jogo .timberman,
.direita:invalid + .mata:focus ~ .jogo .timberman {
  background: url('rip.png');
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: none;
}

.esquerda:invalid + .mata:focus ~ .jogo .chao,
.direita:invalid + .mata:focus ~ .jogo .chao {
  background: url('game-over.png');
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 4;
}

.esquerda.direita:valid + input:focus ~ .jogo .timberman,
.esquerda:valid + input:focus ~ .jogo .timberman,
.direita:invalid + input:focus ~ .jogo .timberman {
    left: 0;
    -webkit-animation-name: timberman-esquerda;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
}

.esquerda.direita:invalid + input:focus ~ .jogo .timberman,
.esquerda:invalid + input:focus ~ .jogo .timberman,
.direita:valid + input:focus ~ .jogo .timberman {
  left: calc(100% - 200px);
  -webkit-animation-name: timberman-direita;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
}

.fundo {
  width: 100%;
  height: calc(100vh - 200px);
  bottom: 2470px;
  position: absolute;
  transition: bottom 0s 99999s linear;
  counter-reset: section 15;
}

.fundo div {
  position: relative;
}

.fundo .tronco {
  background: url('tronco.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 190px;
}

.fundo .galho-direito {
  background: url('galho-direito.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 190px;
}

.fundo .galho-esquerdo {
  background: url('galho-esquerdo.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 190px;
}

input:focus:not(:first-child) ~ .jogo .fundo {
  transition: bottom 1s linear;
}

#bloco2:focus ~ .jogo .fundo {
  bottom: 2280px;
}
#bloco3:focus ~ .jogo .fundo {
  bottom: 2090px;
}
#bloco4:focus ~ .jogo .fundo {
  bottom: 1900px;
}
#bloco5:focus ~ .jogo .fundo {
  bottom: 1710px;
}
#bloco6:focus ~ .jogo .fundo {
  bottom: 1520px;
}
#bloco7:focus ~ .jogo .fundo {
  bottom: 1330px;
}
#bloco8:focus ~ .jogo .fundo {
  bottom: 1140px;
}
#bloco9:focus ~ .jogo .fundo {
  bottom: 950px;
}
#bloco10:focus ~ .jogo .fundo {
  bottom: 760px;
}
#bloco11:focus ~ .jogo .fundo {
  bottom: 570px;
}
#bloco12:focus ~ .jogo .fundo {
  bottom: 380px;
}

input:focus ~ .jogo .fundo div:before {
  counter-increment: section -1;
  content: counter(section);
  display: inline-block;
  font-size: 3em;
  font-family: Arial;
  color: #fff;
  text-shadow: 2px 2px #000;
  z-index: 3;
  position: absolute;
  left: 48%;
  top: 40%;
}