* { 
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	overflow: hidden;
}

.jogo {
	position: relative;
	width: 100vw;
	height: 100%;
	background-color: #ccc;
	transition: padding-top 0s 99999s linear;
}

.jogo:active {
	transition: padding-top 1s linear;
	padding-top: 190vw;
}

.galho {
	display: none;
}

.galho-desenho {
	display: block;
	width: 21vw;
	height: 21vw;
	border-bottom: 2px solid darkblue;
	background-color: blue;
}

.galho-desenho.mata {
	background-color: purple;
}

[class *= "inputs-"] {
	position: absolute;
	bottom: 0;
}

.inputs-direita {
	right: 0;
}

.inputs-esquerda {
	left: 0;
}

.timberman {
	background-color: red;
	width: 15vw;
	height: 15vw;
	position: absolute;
	display: block;
	z-index: 10;
	transition: all 0s 99999s linear;
	top: calc(100vh - 15vw);
}

.inputs-direita:active ~ .timberman {
	transition: margin-left 0s linear;
	margin-left: calc(100% - 15vw);
}

.inputs-esquerda:active ~ .timberman {
	transition: margin-right 0s linear;
	margin-right: calc(100% - 15vw);
}